body {
  font-family: sans-serif;
  margin: 15%;
}

main {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  background: #ccc;
  margin: 10px 10px 5px 0;
  padding: 18px;
  font-weight: bold;
  cursor: pointer
}

input {
  padding: 10px;
  width: 150px
}

button {
  margin-right: 3px
}